@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #efefef;
  color: #333;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(167, 221, 255);
}
